<div class="container my-3">
  <div class="row">


    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> English-Turkish</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Word Count: {{verbDictionary.size}}</h5>
          <p class="card-text">Test yourself!</p>

          <div class="mb-3">
            <label class="form-label">English Word</label>

            <input class="form-control" value="{{randomKey}}" readonly>

            <div class="d-flex justify-content-end my-3"><button type="button" class="btn btn-danger btn-block"
                (click)="del()">Don't Show Again
              </button></div>

          </div>
          <div class="mb-3">
            <label class="form-label">Turkish Word</label>
            <div class="d-flex align-items-center">
              <input #userInputField
                [ngStyle]="{'background-color': isTranslationCorrect ? 'green' : 'red','color': 'white'} "
                class="form-control" [(ngModel)]="userInput" (input)="checkTranslation()">
              <button type="button" class="btn btn-outline-dark mx-2" (click)="hint()">hint</button>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6 mb-3">
              <button type="button" class="btn btn-primary btn-block" (click)="get()">Skip </button>
            </div>
            <div class="col-md-6 mb-3 d-flex justify-content-end">

              <button type="button" class="btn btn-success btn-block " (click)="showWord()">Show Word
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Türkçe-İngilizce</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">Toplam kelime sayısı: {{verbDictionary2.size}}</h5>
          <p class="card-text">Kendini Sına!</p>

          <div class="mb-3">
            <label class="form-label">Türkçe Kelime</label>

            <input class="form-control" value="{{turkishEquivalent2}}" readonly>

            <div class="d-flex justify-content-end my-3"><button type="button" class="btn btn-danger btn-block"
                (click)="del2()">Tekrar Gösterme
              </button></div>

          </div>
          <div class="mb-3">
            <label class="form-label">İngilizce Kelime</label>
            <div class="d-flex align-items-center">
              <input #userInputField
                [ngStyle]="{'background-color': isTranslationCorrect2 ? 'green' : 'red','color': 'white'} "
                class="form-control" [(ngModel)]="userInput2" (input)="checkTranslation2()">
              <button type="button" class="btn btn-outline-dark mx-2" (click)="hint2()">İpucu</button>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6 mb-3">
              <button type="button" class="btn btn-primary btn-block" (click)="get2()">Atla </button>
            </div>
            <div class="col-md-6 mb-3 d-flex justify-content-end">

              <button type="button" class="btn btn-success btn-block " (click)="showWord2()">Kelimeyi Göster
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Eş Anlamlı (Synonyms) Kelimeler</h5>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-3 d-flex justify-content-center">

            <button type="button" class="btn btn-success btn-block " (click)="getSynonymsWord()">Kelimeyi Getir
            </button>
          </div>
          <div class="container">
            <div class="col-md-12 d-flex justify-content-center my-3">
              <button type="button" class="btn btn-secondary btn-lg">{{randomWord.word}}</button>
            </div>
            <div class="col-md-12 d-flex justify-content-center my-3">
              <button *ngFor="let synonym of randomWord.synonyms" type="button"
                class="btn btn-outline-primary">{{synonym}}</button>
                
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Düzensiz Fiiller (Irregular Verbs)</h5>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-3 d-flex justify-content-center">

            <button type="button" class="btn btn-success btn-block " (click)="getIrregularVerbWord()">Fiili Getir
            </button>
          </div>
          <div class="container">
            
            <div class="col-md-12 d-flex justify-content-center my-3">

              <button *ngFor="let irregularVerb of randomIrregularVerbWord.irregularVerb" type="button"
                class="btn btn-outline-primary">{{irregularVerb}}</button>
            </div>
            <div class="col-md-12 d-flex justify-content-center my-3">
              <button type="button" class="btn btn-secondary btn-lg">{{randomIrregularVerbWord.word}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Kelimeleri Ezberle</h5>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-6 d-flex justify-content-center">

            <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedWaitTime"
              (change)="onChangeWaitTime($event)">
              <option value="5" selected>Değişme süresi (Varsayılan 5 Saniye)</option>
              <option value="2">İki Saniye</option>
              <option value="4">Dört Saniye</option>
              <option value="6">Altı Saniye</option>
              <option value="8">Sekiz Saniye</option>
              <option value="10">On Saniye</option>
              <option value="12">Oniki Saniye</option>
            </select>
            <button type="button" class="btn btn-danger btn-block mx-2" (click)="ngOnDestroy()">Durdur
            </button>
            <button type="button" class="btn btn-success btn-block" (click)="startInterval()">Başlat
            </button>

          </div>
          <div class="my-3">
            <div class="row">
              <div class="col-md-6 mb-3">
                <button type="button" class="btn btn-secondary btn-lg">{{autorandomKey}}</button>
              </div>
              <div class="col-md-6 mb-3 d-flex justify-content-end">

                <button type="button" class="btn btn-primary btn-lg">{{autoturkishEquivalent}}</button>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>






  </div>


</div>