<div class="container my-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> İngilizce-Türkçe Kelime Sına</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">Toplam kelime sayısı: {{verbDictionary.size}}</h5>
          <p class="card-text">Rastgele gelen kelimeler ile kelime bilgini sına.</p>

          <div class="mb-3">
            <label class="form-label">İngilizce Kelime</label>
            <input class="form-control" value="{{randomKey}}" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Türkçe Kelime</label>
            <input [ngStyle]="{'background-color': isTranslationCorrect ? 'green' : 'red','color': 'white'} " class="form-control"  [(ngModel)]="userInput" (input)="checkTranslation()">
          </div>
         


          <div class="row">
            <div class="col-md-6 mb-3">
              <button type="button" class="btn btn-primary btn-block" (click)="get()">Atla </button>
            </div>
            <div class="col-md-6 mb-3">
              <button type="button" class="btn btn-danger btn-block" (click)="del()">Artık Gösterme
              </button>
              <button type="button" class="btn btn-success btn-block" (click)="showWord()">Cevabı Göster
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Kelimeleri Ezberle</h5>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-6 d-flex justify-content-center">
          
            <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedWaitTime" (change)="onChangeWaitTime($event)">
              <option value="5" selected>Değişme süresi (Varsayılan 5 Saniye)</option>
              <option value="2">İki Saniye</option>
              <option value="4">Dört Saniye</option>
              <option value="6">Altı Saniye</option>
               <option value="8">Sekiz Saniye</option>
              <option value="10">On Saniye</option>
              <option value="12">Oniki Saniye</option>
            </select>
            <button type="button" class="btn btn-danger btn-block mx-2" (click)="ngOnDestroy()">Durdur
            </button> 
            <button type="button" class="btn btn-success btn-block" (click)="startInterval()">Başlat
            </button>
          
          </div>

          
          
          <div class="d-flex justify-content-center my-3">
            <div class="mb-3">
              <button type="button" class="btn btn-secondary btn-lg">{{autorandomKey}}</button>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mb-3">
              <button type="button" class="btn btn-primary btn-lg">{{autoturkishEquivalent}}</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>






<router-outlet></router-outlet>